policy_module(googletalk, 0.1)

type googletalk_plugin_t;
type googletalk_plugin_exec_t;
application_domain(googletalk_plugin_t, googletalk_plugin_exec_t)

type googletalk_plugin_tmp_t;
userdom_user_tmp_file(googletalk_plugin_tmp_t)

type googletalk_plugin_tmpfs_t;
userdom_user_tmpfs_file(googletalk_plugin_tmpfs_t)

type googletalk_plugin_xdg_config_t;
xdg_config_home_content(googletalk_plugin_xdg_config_t)

####################################
#
# Google talk plugin policy
#

allow googletalk_plugin_t self:fifo_file rw_fifo_file_perms;
allow googletalk_plugin_t self:netlink_kobject_uevent_socket create_socket_perms;
allow googletalk_plugin_t self:netlink_route_socket create_netlink_socket_perms;
allow googletalk_plugin_t self:tcp_socket create_stream_socket_perms;
allow googletalk_plugin_t self:unix_stream_socket create_stream_socket_perms;

manage_files_pattern(googletalk_plugin_t, googletalk_plugin_tmp_t, googletalk_plugin_tmp_t)
manage_dirs_pattern(googletalk_plugin_t, googletalk_plugin_tmp_t, googletalk_plugin_tmp_t)
files_tmp_filetrans(googletalk_plugin_t, googletalk_plugin_tmp_t, { file dir })

manage_files_pattern(googletalk_plugin_t, googletalk_plugin_tmpfs_t, googletalk_plugin_tmpfs_t)
fs_tmpfs_filetrans(googletalk_plugin_t, googletalk_plugin_tmpfs_t, file)

manage_dirs_pattern(googletalk_plugin_t, googletalk_plugin_xdg_config_t, googletalk_plugin_xdg_config_t)
manage_files_pattern(googletalk_plugin_t, googletalk_plugin_xdg_config_t, googletalk_plugin_xdg_config_t)

kernel_read_system_state(googletalk_plugin_t)

dev_getattr_all_blk_files(googletalk_plugin_t)
dev_getattr_all_chr_files(googletalk_plugin_t)
dev_read_sound(googletalk_plugin_t)
dev_read_video_dev(googletalk_plugin_t)
dev_search_sysfs(googletalk_plugin_t)
dev_write_sound(googletalk_plugin_t)
dev_write_video_dev(googletalk_plugin_t)

term_dontaudit_getattr_unallocated_ttys(googletalk_plugin_t)

corecmd_exec_bin(googletalk_plugin_t)
corecmd_exec_shell(googletalk_plugin_t)

corenet_tcp_bind_generic_node(googletalk_plugin_t)
corenet_tcp_sendrecv_generic_if(googletalk_plugin_t)
corenet_tcp_sendrecv_generic_node(googletalk_plugin_t)

# It runs find in /etc to find any release file for knowing the distribution it
# runs on. Yes, great isnt it...
files_dontaudit_getattr_all_dirs(googletalk_plugin_t)
files_read_etc_files(googletalk_plugin_t)
files_read_usr_files(googletalk_plugin_t)

fs_getattr_tmpfs(googletalk_plugin_t)

logging_send_syslog_msg(googletalk_plugin_t)

miscfiles_read_localization(googletalk_plugin_t)

userdom_search_user_home_content(googletalk_plugin_t)

optional_policy(`
	alsa_domain(googletalk_plugin_t, googletalk_plugin_tmpfs_t)
	alsa_read_rw_config(googletalk_plugin_t)
')

optional_policy(`
	dbus_system_bus_client(googletalk_plugin_t)
')

optional_policy(`
	mozilla_dontaudit_use_fds(googletalk_plugin_t)
	mozilla_send_dgram_plugin(googletalk_plugin_t)
')

optional_policy(`
	xdg_search_config_home_dirs(googletalk_plugin_t)
')

optional_policy(`
	xserver_user_x_domain_template(googletalk_plugin, googletalk_plugin_t, googletalk_plugin_tmpfs_t)
')
